# Operating system files and folders
.DS_Store
Thumbs.db

# Editor Files
.idea
*.sublime*
.vscode

# Supporting files
*.log*
node_modules/

# Files resulting from the Webpack build
public/bundle.js
public/bundle.js.map

coverage/
